/* Default styles for .leaflet-container */
.leaflet-container {
  width: calc(100vw - 32px);
  height: 40vh;
  min-height: 300px;
  max-width: 550px; 
  max-height: 367px;
  border-radius: 0.5rem;
}

/* Media query for screens 62em or less */
@media (max-width: 62em) {
  .leaflet-container {
    margin-top: 30px; /* Apply margin-top only when viewport is 62em or less */
  }
}

/* Rest of your styles */
.leaflet-div-icon {
  background: transparent;
  border: none;
}

.leaflet-marker-icon {
  filter: hue-rotate(300deg);
}